


.btn_rounded {
    height:32px;
    width: 32px;
    border-radius: 6px;
    background-color: gainsboro;
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_circle {
    height:64px;
    width: 64px;
    border-radius: 50%;
    background-color: aqua;
}